{% extends 'imoveis/base.html' %}
{% load static %}
{% block content %}

<head>
    <title>Bairros disponiveis</title>
</head>
<body>
    <h1>Aqui estão alguns bairros disponíveis</h1>

    {% if list_bairro %}
        <a>Bairros encontrados <span class="badge">{{ list_bairro |length }}</span></a>
        {% for bairro in list_bairro %}
            <div class="row justify-content-md-center" style="margin-bottom: 50px;">
              <div class="col-lg-3 col-sm-12">
                <a class="text-center display-4 text-body" href="{% url 'bairro_id' nome_bairro=bairro %}"> {{ bairro | linebreaks}}</a>
              </div>
            </div>
            <hr class="m-2">
            <br>
            <br>
        {% endfor %}
    {% endif %}

</body>

{% endblock %}