{% extends 'imoveis/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Busca Bairro</title>
</head>
<body>
    <h1>Consulta para o BAIRRO: {{consulta}}</h1>

    {% if list_apartamentos %}
        <a>Aluguel de apartamentos <span class="badge">{{ list_apartamentos|length }}</span></a>
        {% for imovel in list_apartamentos %}
            <div class="row justify-content-md-center" style="margin-bottom: 50px;">
              <div class="col-lg-3 col-sm-12">
                <a class="text-center display-4 text-body" href="{% url 'apartamento_id' apartamento_id=imovel.pk %}"> {{ imovel.aluguel| linebreaks}}</a>
              </div>
              <div class="col-lg-9 col-sm-12">
                <p class="lead">{{ imovel.descricao }}</p>
              </div>
            </div>
            <hr class="m-2">
            <br>
            <br>
        {% endfor %}
    {% endif %}

    {% if list_casas %}
        <a>Aluguel de casas <span class="badge">{{ list_casas|length }}</span></a>
        {% for imovel in list_casas %}
            <div class="row justify-content-md-center" style="margin-bottom: 50px;">
              <div class="col-lg-3 col-sm-12">
                <a class="text-center display-4 text-body" href="{% url 'casa_id' casa_id=imovel.pk %}"> {{ imovel.aluguel| linebreaks}}</a>

              </div>
              <div class="col-lg-9 col-sm-12">
                <p class="lead">{{ imovel.descricao }}</p>
              </div>
            </div>
            <hr class="m-2">
            <br>
            <br>
        {% endfor %}
    {% endif %}

</body>
{% endblock %}